    <h1>All users</h1>
        <h2>User name</h2>
    <span>Number of posts:</span>
        <h2>User name</h2>
    <span>Number of posts:</span>
        <h2>User name</h2>
    <span>Number of posts:</span>
        <h2>User name</h2>
<span>Number of posts:</span>