<h2>User name</h2>
<span>Number of posts:</span>
<h3>Bio</h3>
<p>Some text</p>
<h3>Post #1</h3>
<p>Some text</p>
<h3>Post #2</h3>
<p>Some text</p>
<h3>Post #3</h3>
<p>Some text</p>
<button>See all post</button>